body {
    background: #2c2c2c;
}

header {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

header h3 {
    margin-top: 50px;
    font-size: 28px;
}

main ul {list-style: none}

header .menu {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

header .menu:hover {
    color: #fcba03;
    text-decoration: none;
    transform: scale(1.05);
}

header .button {
    font-size: 18px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background: #fcba03;
    box-shadow: 0 5px 0 #997103;
}

header .button:hover {
    background: #997103;
    box-shadow: none;
    position: relative;
    top: 5px;
}

main .features {
    color: #fff;
    margin-top 100px;
    text-align: center;
}

main .features h1 {font-size: 50px;}
main .features p {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    max-width: 400px;
    margin-left: 30%;
}

main .cars {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

main .cars:hover {
    color: #fcba03;
    text-decoration: none;
    transform: scale(1.01);
}

footer {
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 20%;
    padding: 2.5%;
    height: 80px;
}

main .wrapper {
    position: absolute;
    width: 100px;
    left: 55%;
    top: 20%;
}

#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

#signin input:first-of-type{
    border-radius: 8px;
}

#signin input[type='email'], #signin input[type='text'], #signin input[type='password'], #signin button[type='submit']{
    background: #fff;
    color: #969696;
}

#signin input[type='email'], #signin input[type='text'], #signin input[type='password']{
    position: relative;
    display: block;
    width: 220px;
    height: 30px;
    border: 0;
    outline: 0;
    padding: 0 0 0 10px;
    font-weight: 700;
}

#signin input[type='email'], #signin input[type='text']:focus, #signin input[type='password']:focus{
    color: #181818;
}

#signin button[type='submit']{
    margin-top: 10px;
    color: #696969;
    border-radius: 20px;
    padding: 0 20px;
    margin-left: -70px;
    font-size: 12px;
}

#signin button[type='submit']:hover{
    color: #181818;
    font-weight: 700;
}

#signin p {
    color: #969696;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}

#signin p > a {
    color: #fff;
    text-decoration: none;
}

#signin p > a:hover {
    border-bottom: 1px solid;
}